/* Theme */

.badge .bx {
    font-size: 12px !important;
}

.bx, .menu-icon {
    font-size: 1.1em !important;
}

.app-brand {
    height: 64px;
    margin-top: 12px;
}

.app-brand-text {
    font-size: 1.5rem;
    letter-spacing: -0.5px;
}

.modal-header, .modal-footer {
    padding: 1rem 1.5rem !important;
}

.modal .modal-header .btn-close {
    margin-top: unset !important;
}

.text-right {
    text-align: right !important;
}

/* Datatable */

.dataTable.no-footer {
    border-collapse: collapse !important;
    border-bottom: 1px solid #d9dee3 !important;
}

.dataTables_wrapper {
    font-size: 0.9em;
    color: var(--bs-body-color) !important;
}

.dataTables_wrapper input, .dataTables_wrapper select {
    color: var(--bs-body-color) !important;
    border-color: #d9dee3 !important;
}

.dataTables_wrapper input:focus, .dataTables_wrapper select:focus {
    border-color: #696cff !important;
}

.dataTables_wrapper input:focus-visible, .dataTables_wrapper select:focus-visible {
    outline: none !important;
}

.dataTables_length, .dataTables_filter {
    margin-bottom: 1rem;
    color: var(--bs-body-color) !important;
}

.dataTables_info {
    color: var(--bs-body-color) !important;
}

/* Fancybox */
.fancybox__container {
    z-index: 1090 !important;
}

/* SweatAlert2 */
.swal2-container {
    z-index: 1100 !important;
}

.swal2-html-container {
    padding: 15px !important;
}

.colored-toast.swal2-icon-success {
    background-color: var(--bs-success) !important;
}

.colored-toast.swal2-icon-error {
    background-color: var(--bs-danger) !important;
}

.colored-toast.swal2-icon-warning {
    background-color: var(--bs-warning) !important;
}

.colored-toast.swal2-icon-info {
    background-color: var(--bs-info) !important;
}

.colored-toast.swal2-icon-question {
    background-color: var(--bs-primary) !important;
}

.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-html-container {
    color: white;
}

/* Dropzone */
.dropzone {
    border: 1px solid #d9dee3 !important;
    border-radius: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
}

.dropzone .dz-preview .dz-error-message {
    top: unset !important;
    bottom: 145px;
}

.dropzone .dz-preview .dz-error-message::after {
    border-bottom: unset !important;
    border-top: 6px solid #be2626;
    top: unset !important;
    bottom: -6px;
}

.dropzone .dz-preview .dz-remove {
    margin-top: 0.5rem !important;
    color: var(--bs-danger);
}

/* Select 2 */
.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection--single {
    padding: 0.2rem 0.375rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.53;
    background-clip: padding-box;
    border: 1px solid #d9dee3 !important;
    height: auto !important;
    min-height: 36.38px !important;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #aaa transparent !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #aaa transparent transparent transparent !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px !important;
    right: 5px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: inherit !important;
}

.select2-container--default .select2-selection--single:focus, .select2-search__field:focus  {
    outline: none !important;
    border-color: #696cff !important;
}

.select2-search__field {
    border: 1px solid #d9dee3 !important;
    border-radius: 0.375rem !important;
    color: #697a8d !important;
}

.select2-dropdown.select2-dropdown--below {
    border: 1px solid #d9dee3 !important;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    float: unset !important;
    margin-right: unset !important;
    padding-right: unset !important;

    position: absolute;
    top: 7px;
    right: 25px;
    width: 20px;
    color: var(--bs-danger);
}
