@media screen and (max-width: 900px) {
    #onepagenav{
        display: none;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .breadcrumb-banner .banner-thumbnail {
        right: 10px;
        bottom: 150px;
    }
}

.axil-btn.btn-fill-white:hover {
    background-color: #27ae60;
}

.btn-fill-success {
    background-color: #27ae60 !important;
    border-color: #27ae60 !important;
}

.btn-fill-success:hover {
    background-color: var(--bs-success) !important;
    border-color: var(--bs-success) !important;
}

.btn-fill-success::after {
    background-color: var(--bs-success) !important;
}

/* Slider */

.slider-item {
    max-width: 800px;
}

.header-slider {
    margin-top: -130px;
}

.blog-grid.blog-thumb-slide .post-thumbnail{
    a {
        border-radius: 0;
    }

    .slick-slide {
        display: grid;
        align-items: center;
        object-fit: cover !important;
        background-size: 100%;
        height: 100vh;
        background-position: right center !important;
    }
}

/* Menu */

.axil-mainmenu .mainmenu > li > a {
    color: white;

    &::after {
        color: white;
    }
}

.axil-mainmenu.axil-sticky .mainmenu > li > a {
    color: var(--color-body);

    &::after {
        color: var(--color-body);
    }
}
